<%- include('includes/head.ejs') %>

<%- include('includes/header-login.ejs') %>

<main>
    <% for (var index = 0; index < data.length; index++) { %>
        <a href="/<%= data[index].id %>"<h3>
          <%= data[index].name%>
        </a>
        <p>
            <%= data[index].email %>
        </p>
        <p>
            <%= data[index].profession %>
        </p>
        <p>
            <%= data[index].bio %>
        </p>
        <img class="tfp-avatar-s" src="/upload/<%= data[index].avatar %>">

      <% } %>
</main>
<%- include('includes/footer.ejs') %>